PORT=8080

POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=transaction-db
DB_URL=jdbc:postgresql://localhost:5432/transaction-db

REDIS_HOST=localhost

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin

AUTHORIZER_URL=https://util.devi.tools
AUTHORIZER_PATH=/api/v2

JWT_SECRET=secret
JWT_EXPIRATION=3600